@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');





.img2 {
    width: 80px;
    height: auto;
    border-radius: 4px;

}

.img1 {

    width: 200px;
    height: auto;
    border-radius: 100%;
    align-self: center;
    justify-self: center;
    margin-right: 100px;


}

.subcontainer2 {

    display: flex;
    flex-direction: column;
    margin-left: 15px;
    flex-basis: 40%;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 30px;

}

.paraone {
    margin-left: 15px;
}



#button1 {
    margin: 10px;
    margin-left: 15px;
    align-self: flex-start;
    margin-top: 15px;
    background-color: #4a83e5;
    border-radius: 4px;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    color: white;
    padding: 10px
}

a {
    text-decoration: none;
}


ul {
    list-style: none;
}


.containerone {
    background-color: #1d3b6e;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 20px;
    margin-left: 250px;
    margin-right: 250px;

}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.headerlinks {

    display: flex;
    flex-direction: row;
    gap: 1REM;
    margin-top: 5px;

}

.imageone {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.subcontainerone {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 15px;
}



#awsome {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 5px;
    margin-left: 15px;
}

#secondary {
    font-size: 18px;
    color: #E5E7EB;

}


.illustration {
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;

    margin-right: 350px;
    margin-left: 350px;
   padding: 40px;
    gap: 3rem;
    
}

.img2 {
    display: flex;
    flex-direction: column;
    
}

.undertext {
    font-weight: 600;
    font-style: italic;
    font-family: 'Segoe UI';
    color:#3271dd;
}

.subcontainerfour {
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    margin-right: 250px;
    background-color: #E5E7EB;
    
}
.quote {
    font-size: 16px;
    margin-left: 50px;
    margin-right: 50px;
    font-style: light italic;
    justify-content: center;
    padding: 90px;
    font-style: italic;
    font-size: 20px;
    font-family: Lato;
    
}

.author {
    margin-left: 400px;
    font-weight: 800;
    font-size: 15px;
    font-style: normal;
   
}